## Calculating the Beta of a Stock

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft and S&P 500 for the period 1st of January 2012 â€“ 31st of December 2016.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Importing the yfinance package
import yfinance as yf

data = pd.DataFrame()

# Set the start and end date
start_date = '2019-01-01'
end_date = '2022-12-31'
 
# Set the ticker
ticker = 'MSFT','^GSPC'
 
# Get the data
data = yf.download(ticker, start_date, end_date)['Adj Close']
 
# Print the last 5 rows
data.head()

[*********************100%***********************]  2 of 2 completed

                 MSFT        ^GSPC
Date
2019-01-02  96.218155  2510.030029
2019-01-03  92.678497  2447.889893
2019-01-04  96.988876  2531.939941
2019-01-07  97.112572  2549.689941
2019-01-08  97.816727  2574.409912

Let S&P 500 act as the market.

*****

Calculate the beta of Microsoft.

In [5]:
sec_returns = np.log(data / data.shift(1))
sec_returns.head()

                MSFT     ^GSPC
Date
2019-01-02       NaN       NaN
2019-01-03 -0.037482 -0.025068
2019-01-04  0.045460  0.033759
2019-01-07  0.001275  0.006986
2019-01-08  0.007225  0.009649

In [7]:
cov = sec_returns.cov() * 250
cov.head()

           MSFT     ^GSPC
MSFT   0.099912  0.062028
^GSPC  0.062028  0.052584

In [8]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.062028077334077884

In [9]:
market_var = sec_returns['^GSPC'].var() * 250
market_var

0.0525843307767475

Beta Formula = Covariance (Ri, Rm) / Variance (Rm)

In [10]:
MSFT_beta = cov_with_market / market_var
MSFT_beta

1.1795924074307391